.input-box{
  display: inline-block;
  position: relative;
  width: 100%;
  .input-prefix, .input-nextfix{
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
  }
  .input-prefix{
    left: 0;
  }
  .input-nextfix{
    right: 0;
  }
}
.my-input{
  border-radius: 5px;
  outline: none;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 6px 12px;
  transition: all .3s;
  width: 100%;
  &:focus{
    box-shadow: 0 0 3px #29e;
    border-color: #29e;
  }
  &-prefix{
    padding-left: 32px;
  }
  &-nextfix{
    padding-right: 32px;
  }
}