$theme-color: #000;

.header-box{
  width: 100%;
  height: 64px;
  padding: 0 40px 0 0;
  box-sizing: border-box;
  background-color: $theme-color;
  display: flex;
  .header-logo{
    width: 200px;
    height: 100%;
  }
  .header-menu{
    flex: 1;
    li{
      display: inline-block;
      color: #ffffff;
      padding: 0 16px;
      transition: all .3s;
      line-height: 64px;
      background-color: $theme-color;
      &:hover{
        background-color: #363636;
        cursor: pointer;
        color: #45a0e0;
      }
    }
  }

  .dropdown-box{
    height: 100%;
    .dropdown-info{
      color: #fff;
      &:hover{
        color: #45a0e0;
      }
    }
  }
}