:global(html), 
:global(body){
  margin: 0;
  height: 100%;
  overflow: hidden;
}

:global(ul), 
:global(li){
  list-style: none;
  margin: 0;
  padding: 0;
}

:global(a){
  text-decoration: none;
  &:active, &:visited, &:link, &:hover { text-decoration: none; }
}

:global(h1), 
:global(h2), 
:global(h3), 
:global(h4), 
:global(h5), 
:global(h6), 
:global(p){
  margin: 0;
  padding: 0;
}

:global(#app){
  height: 100%;
}